
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

    html, body{
        height: 100%;
        margin: 0px;
    }
    
    .container{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr .5fr 1fr 1fr 1fr  auto;
        grid-gap: 10px;
        min-height: 100%;
    }
    
    #header{ 
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-image: linear-gradient(45deg, rgb(94, 26, 94), rgba(255,0,0,1));
        opacity: .7;
        color: whitesmoke;
    grid-column-start: 1;
    grid-column-end:6;
    font-size: 3em; 
      }
    
    
    #navigation{ 
    
        display:flex;
        align-self: flex-start;
        justify-content: center;
        flex-direction: row;
        grid-column-start: 1;
    grid-column-end:6;
    
      }
    
    
      #navigation > button{ 
        margin-right: 1em;
          }
        
          .button{  
              background-color: rgb(175, 76, 117); /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 1em;
        }
        .button:hover {
            background-color:rgb(218, 107, 153) ;
           
          }
    
          #article-one-image{
              height: 100%;
            grid-column-start: 1;
            grid-column-end:3;
    
            background-image: url(images/cupcakes-690040_1920.jpg);
            background-size: 100% 100%;
          }
    
    #article-one{ 
        height: 100%;
    
        grid-column-start: 3;
    grid-column-end:4;
      }
    
      #article-two-image{
          height: 100%;
        grid-column-start: 3;
    grid-column-end:6;
    background-image: url(images/cake-1284548_1920.jpg);
    background-size: 100% 100%;
    }
    
      #article-two{ 
          width: 100%;
          text-align: right;
    height: 100%;
        grid-column-start: 1;
    grid-column-end:3;
      }
    
    
      #about-me{ 
          display: flex;
          justify-content: center;
        grid-column-start: 2;
        grid-column-end:5;
      }
    
      footer{
          display: flex;
          justify-content: center;
          color: white;
        background: purple;
        grid-column-start: 1;
        grid-column-end:6;
      }
    
      /*styling for font awesome icons*/

      .fa {
        padding: 10px;
        font-size: 1em;
        width: 10px;
        text-align: center;
        text-decoration: none;
        margin-right: 0.5em;
      }
      
      .fa:hover {
        opacity: 0.7;
      }
      
      .fa-facebook {
        background: rgb(218, 121, 166);
        color: #3B5998;
      }
      
      .fa-twitter {
        background: rgb(218, 121, 166);
        color: #55ACEE;
      }

      .fa-instagram {
        background:rgb(218, 121, 166);
        color: white;
    }

@media (min-width: 900px){

.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.7fr .5fr 1fr 1fr 1fr  auto;
    grid-gap: 10px;
    min-height: 100%;
}

#header{ 
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(94, 26, 94), rgba(255,0,0,1));
    opacity: .7;
    color: whitesmoke;
grid-column-start: 1;
grid-column-end:6;
font-size: 5em; 
  }


#navigation{ 
grid-column-start: 3;
grid-column-end:4;
  }


  #navigation > button{ 
    margin-right: 1em;
      }
    
      .button{  
          background-color: rgb(175, 76, 117); /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1.5em;
    }
    .button:hover {
        background-color:rgb(218, 107, 153) ;
       
      }

      #article-one-image{
          height: 100%;
        grid-column-start: 2;
        grid-column-end:3;

        background-image: url(images/cupcakes-690040_1920.jpg);
        background-size: 100% 100%;
      }

#article-one{ 
    height: 100%;

    grid-column-start: 3;
grid-column-end:4;
  }

  #article-two-image{
      height: 100%;
    grid-column-start: 4;
grid-column-end:5;
background-image: url(images/cake-1284548_1920.jpg);
background-size: 100% 100%;
}

  #article-two{ 
      width: 100%;
      text-align: right;
height: 100%;
    grid-column-start: 3;
grid-column-end:4;
  }


  #about-me{ 
      display: flex;
      justify-content: center;
    grid-column-start: 2;
    grid-column-end:5;
  }

  footer{
      display: flex;
      justify-content: center;
      color: white;
    background: purple;
    grid-column-start: 1;
    grid-column-end:6;
  }
}